@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800;900&display=swap");

@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
@import "../../node_modules/swiper/modules/pagination/pagination.scss";

/* Vars */
$xl: 1319.98px;
$lg: 1023.98px;
$md: 767.98px;
$sm: 519.98px;

$color-primary: #ec1721;
$color-bg: #232323;
$color-light-bg: #f5f5f5;

/* Functions */
@function em($px, $cur-fz) {
  @return calc($px / $cur-fz * 1em);
}

/* Mixins */
@mixin av($property, $startSize, $minSize, $widthFrom: 1920, $widthTo: 320) {
  $addSize: $startSize - $minSize;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - #{$widthTo + px}) / #{($widthFrom) - ($widthTo)});
  @media (min-width: ($widthFrom + px)) {
    #{$property}: $startSize + px;
  }
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg {
  display: block;
  pointer-events: none;
}

a,
input,
button,
optgroup,
select,
textarea {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

img {
  vertical-align: top;
  border-style: none;
}

label {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: transparent;
  cursor: pointer;
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0;
  border-style: none;
}

:focus-visible,
a:focus-visible,
input:focus-visible,
button:focus-visible {
  border: 1px solid #23262e;
  outline: 1px solid #fff;
  outline-offset: 0;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  text-size-adjust: 100%;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

[type="search"]::-webkit-search-decoration {
  appearance: none;
}

[type="text"] {
  background-color: transparent;
}

::-webkit-file-upload-button {
  font: inherit;
  appearance: button;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* -------------------------------------------------------- */

html {
  scroll-behavior: smooth;
}

body {
  font-family: Outfit;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 22px;
  max-width: 1224px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;

  main {
    min-height: 1000vh; // change!
    background: #fff;
    flex: 1 1 auto;
  }
}

/* -------------------------------------------------------- */

.primary-button {
  background: #ec1721;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  @media (max-width: ($sm)) {
    font-size: 18px;
  }
  &:hover {
    opacity: 0.7;
  }
  &_sm {
    height: 43px;
    border-radius: 23px;
    @media (max-width: ($sm)) {
      height: 40px;
    }
  }
  &_md {
    height: 55px;
    border-radius: 30.138px;
    @media (max-width: ($sm)) {
      height: 47px;
    }
  }
  &_lg {
    font-weight: 700;
    height: 100px;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 30px;
    @include av("height", 100, 55);
    background: linear-gradient(271deg, #ec1721 79.22%, rgba(236, 23, 33, 0) 98.78%);
    @include av("font-size", 30, 15);
  }
}

/* -------------------------------------------------------- */
.slider-infinity {
  width: 100%;
}
.slider-infinity-wrapper {
  display: flex;
  width: 100%;
  transition-timing-function: linear;
}
.slider-infinity-slide {
  flex-shrink: 0;
  max-height: 130px;
  object-fit: contain;
  display: block;
  aspect-ratio: 16/9;
  @media (max-width: ($md)) {
    width: 30%;
  }
}
/* -------------------------------------------------------- */

// Header
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  @include av("padding-top", 33, 9);
  @include av("padding-bottom", 108, 32);
  &__container {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }
  &__logo {
    margin-right: auto;
    z-index: 40;
  }
  &__logo-image {
    @include av("width", 246, 108);
    display: block;
    height: auto;
  }
  &__content {
    display: flex;
    align-items: center;
  }
  &__body {
    @media (max-width: ($lg)) {
      position: fixed;
      left: 0;
      top: 0;
      background-color: #000;
      width: 100%;
      height: 100vh;
      z-index: 20;
      transition: transform 0.6s ease;
      transform: translateX(100%);
    }
    &.active {
      transform: translateX(0);
    }
  }
  &__button {
    width: 177px;
  }
  &__burg {
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 30;
    display: none;
    @media (max-width: ($lg)) {
      display: block;
    }
    @media (max-width: ($sm)) {
      width: 19px;
      height: 13px;
    }
    span {
      position: absolute;
      background-color: #fff;
      border-radius: 12px;
      height: 3px;
      right: 0;
      transition: all 0.3s ease;
      &:nth-child(1) {
        width: 40%;
        top: 0;
      }
      &:nth-child(2) {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        width: 100%;
        bottom: 0;
      }
    }
    &.active {
      span {
        background-color: $color-primary;
        &:nth-child(1) {
          width: 100%;
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }
        &:nth-child(3) {
          bottom: 50%;
          transform: translateY(50%) rotate(-45deg);
        }
      }
    }
  }
}
.header-nav {
  margin-right: 67px;
  @media (max-width: ($lg)) {
    width: 100%;
    height: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    overflow: auto;
    padding-bottom: 65px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 5px;
    @media (max-width: ($lg)) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
  }
  &__link {
    color: #fff;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    transition: color 0.3s ease;
    &:hover {
      color: $color-primary;
    }
    @media (max-width: ($lg)) {
      font-size: 32px;
      font-weight: 700;
    }
    @media (max-width: ($sm)) {
      font-size: 24px;
    }
  }
}

// hero
.hero {
  position: relative;
  background-color: $color-bg;
  @include av("padding-top", 221, 76);
  @include av("padding-bottom", 210, 61);
  &__l-dec {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    z-index: 1;
  }
  &__rg-dec {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    z-index: 1;
    @media (max-width: ($lg)) {
      display: none;
    }
  }
  &__rr-dec {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    right: 0;
    bottom: -12%;
    width: 100%;
    height: 100%;
    z-index: 5;
    @media (max-width: ($lg)) {
      width: 40%;
      height: 40%;
      bottom: auto;
      top: 0;
    }
  }
  &__container {
    display: flex;
    align-items: flex-start;
    column-gap: 37px;
    position: relative;
    z-index: 6;
    @media (max-width: ($lg)) {
      flex-direction: column;
      align-items: center;
      row-gap: 80px;
    }
    @media (max-width: ($sm)) {
      row-gap: 46.2px;
    }
  }
  &__column {
    width: 50%;
    @media (max-width: ($lg)) {
      width: 100%;
    }
  }
  &__contet {
  }
  &__title {
    color: #fff;
    @include av("font-size", 45, 30);
    font-weight: 700;
    line-height: 1; /* 100% */
    margin-bottom: em(20, 45);
    span {
      color: $color-primary;
    }
    @media (max-width: ($lg)) {
      max-width: 80%;
    }
  }
  &__text {
    color: #c1c1c1;
    @include av("font-size", 20, 16);
    font-weight: 300;
    line-height: 1.35; /* 135% */
    margin-bottom: em(33, 20);
    @media (max-width: ($lg)) {
      max-width: 80%;
    }
  }
  &__button {
    width: 227px;
    @media (max-width: ($sm)) {
      margin: 0 auto;
    }
  }
  &__video {
  }
}
.video-hero {
  position: relative;
  &__inner {
    background-color: #4c4c4c;
    padding: 12px 15px 13px 15px;
    z-index: 20;
    position: relative;
    @media (max-width: ($sm)) {
      padding: 6px 7px;
    }
  }
  &__hands {
    position: absolute;
    left: -8px;
    top: -11px;
    z-index: 30;
    @media (max-width: ($sm)) {
      width: 32px;
      left: -4px;
      top: -6px;
    }
  }
  &__head {
    position: absolute;
    width: 88px;
    left: -25px;
    top: -68px;
    @media (max-width: ($sm)) {
      width: 42.5px;
      left: -11px;
      top: -33px;
    }
  }
}

// Footer
.footer {
  @include av("padding-top", 112, 63);
  @include av("padding-bottom", 93, 80);
  background-color: $color-bg;
  position: relative;
  &__dec {
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: -2%;
    @include av("width", 563, 120);
    @include av("height", 653, 158);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &__inner {
    display: flex;
    align-items: flex-start;
    column-gap: 37px;
    padding-left: 173px;
    @media (max-width: ($lg)) {
      flex-direction: column;
      text-align: center;
      align-items: center;
      padding-left: 0;
    }
  }
  &__left {
    position: relative;
    z-index: 100;
    @media (max-width: ($lg)) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__button {
    margin-left: 30px;
    position: relative;
    @include av("width", 504, 255);
    a {
      padding-left: 50px;
      width: 100%;
    }
    @media (max-width: ($lg)) {
      margin-bottom: 30.5px;
      a {
        padding-left: 30px;
        width: 100%;
      }
    }
  }
  &__button-image {
    @include av("width", 140, 71);
    @include av("height", 132, 67);
    position: absolute;
    z-index: 3;
    left: -12%;
    top: -70%;
  }
  &__left-info {
    margin-top: 42px;
  }
  &__socials {
    display: flex;
    column-gap: 20px;
    margin-bottom: 16.5px;
    @media (max-width: ($lg)) {
      justify-content: center;
    }
  }
  &__copyright {
    color: #fff;
    font-family: Outfit;
    font-size: 15px;
    a {
      transition: color 0.3s ease;
    }
    a:hover {
      color: $color-primary;
    }
  }
  &__right {
    max-width: 396px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: ($lg)) {
      align-items: center;
    }
  }
  &__logo {
    width: 278.49px;
    margin-bottom: 7px;
    @media (max-width: ($lg)) {
      margin-bottom: 18px;
    }
    @media (max-width: ($md)) {
      width: 179.49px;
    }
  }
  &__apps {
    display: flex;
    column-gap: 10px;
    a {
      width: 50%;
    }
    img {
      width: 100%;
    }
  }
}

// Avatars
.avatars {
  background-color: $color-light-bg;
  @include av("padding-top", 57, 41);
  @include av("padding-bottom", 57, 43);
  &__container {
    padding: 0 32px;
  }
  &__inner {
    display: flex;
    align-items: center;
    column-gap: 34.5px;
    max-width: 950px;
    margin: 0 auto;
    @media (max-width: ($lg)) {
      flex-direction: column;
      row-gap: 25px;
    }
    @media (max-width: ($sm)) {
      row-gap: 16px;
    }
  }
  &__images {
    flex: 1 1 40%;
    display: flex;
  }
  &__image {
    width: 91px;
    height: 91px;
    border-radius: 50%;
    border: 11px solid $color-primary;
    object-fit: cover;
    &:not(:first-child) {
      margin-left: -20px;
    }
    @media (max-width: ($sm)) {
      width: 65px;
      height: 65px;
      border: 8px solid $color-primary;
    }
  }
  &__content {
    flex: 1 0 60%;
  }
  &__title {
    color: #000;
    @include av("font-size", 25, 20);
    font-weight: 700;
    margin-bottom: em(9, 25);
  }
  &__subtitle {
    color: $color-primary;
    @include av("font-size", 22, 18);
    font-weight: 700;
    margin-bottom: em(10, 22);
  }
  &__text {
    color: #000;
    @include av("font-size", 20, 16);
    font-weight: 300;
  }
}

// Solutions
.solutions {
  @include av("padding-top", 75, 41);
  @include av("padding-bottom", 115, 41);
  position: relative;
  &__lr-dec {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    position: absolute;
    left: 0;
    bottom: -27%;
    width: 75%;
    height: 75%;
    z-index: 1;
    @media (max-width: ($lg)) {
      display: none;
    }
  }
  &__container {
  }
  &__header {
    text-align: center;
    @media (max-width: ($lg)) {
      margin-bottom: 11px;
    }
  }
  &__title {
    color: #343434;
    @include av("font-size", 45, 30);
    font-weight: 700;
    margin-bottom: em(13, 45);
    span {
      color: $color-primary;
    }
  }
  &__text {
    color: #6c6c6c;
    @include av("font-size", 25, 18);
    font-weight: 300;
    line-height: 1.4; /* 140% */
    a {
      transition: color 0.3s ease;
      color: $color-primary;
      font-weight: 700;
      text-decoration: underline;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__body {
    display: flex;
    column-gap: 66px;
    @media (max-width: ($lg)) {
      flex-direction: column;
      row-gap: 41px;
    }
  }
  &__right {
    padding-top: 18px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__icons-top {
    margin-bottom: 23px;
    @media (max-width: ($lg)) {
      margin-bottom: 0;
      display: block;
      margin: 0 auto;
    }
    @media (max-width: ($md)) {
      width: 85%;
    }
    @media (max-width: ($sm)) {
      width: 100%;
    }
  }
  &__icons-big {
    @media (max-width: ($md)) {
      width: 80%;
    }
    @media (max-width: ($sm)) {
      width: 95%;
    }
  }
  &__icons-medium {
    position: relative;
    z-index: 2;
    @media (max-width: ($md)) {
      width: 55%;
    }
    @media (max-width: ($sm)) {
      width: 65%;
    }
  }
  &__icons-small {
    position: relative;
    z-index: 2;
    @media (max-width: ($md)) {
      width: 35%;
    }
    @media (max-width: ($sm)) {
      width: 45%;
    }
  }
}

.solutions-part {
  &:nth-child(1) {
    margin-bottom: 42px;
  }
  &:nth-child(2) {
    margin-bottom: 78px;
  }
  &__title {
    position: relative;
    h3 {
      color: #f00;
      @include av("font-size", 30, 22);
      font-weight: 700;
      margin-bottom: 11px;
    }
    img {
      position: absolute;
      left: -32px;
      top: 50%;
      transform: translateY(-50%) translateX(-100%);
      @media (max-width: ($lg)) {
        display: none;
      }
    }
  }
  &__text {
    color: #6c6c6c;
    @include av("font-size", 20, 17);
    font-weight: 300;
    line-height: 1.5; /* 150% */
  }
}

// schedule
.schedule {
  background-color: $color-bg;
  @include av("padding-top", 36, 22);
  @include av("padding-bottom", 37, 35);
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    @media (max-width: ($md)) {
      flex-direction: column;
      row-gap: 20px;
    }
  }
  &__title {
    color: #fff;
    text-align: center;
    @include av("font-size", 35, 25);
    font-weight: 700;
    line-height: 1.2;
  }
  &__button {
    max-width: 273px;
    width: 100%;
  }
}

// Trusted
.trusted {
  background-color: $color-light-bg;
  @include av("padding-top", 52, 33);
  @include av("padding-bottom", 68, 43);
  &__title {
    color: #343434;
    text-align: center;
    @include av("font-size", 45, 30);
    font-weight: 700;
    margin-bottom: 35px;
    span {
      color: $color-primary;
    }
    @media (max-width: ($sm)) {
      margin-bottom: 20px;
    }
  }
}

// Deals
.deals {
  @include av("padding-top", 87, 35);
  @include av("padding-bottom", 136, 75);
  position: relative;
  &__rr-dec {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    position: absolute;
    right: 0;
    bottom: 20%;
    width: 50%;
    height: 50%;
    z-index: 1;
    @media (max-width: ($lg)) {
      display: none;
    }
  }
  &__container {
    position: relative;
    z-index: 2;
  }
  &__inner {
  }
  &__header {
    text-align: center;
    margin-bottom: 74px;
    @media (max-width: ($md)) {
      margin-bottom: 46px;
    }
  }
  &__title {
    color: #020b2c;
    font-weight: 700;
    @include av("font-size", 55, 35);
    margin-bottom: em(13, 55);
    span {
      color: $color-primary;
    }
  }
  &__text {
    color: #555;
    @include av("font-size", 25, 18);
    font-weight: 300;
    line-height: 1.4; /* 140% */
  }
  &__body {
    display: flex;
    column-gap: 125px;
    @include av("column-gap", 125, 40, 1920, 1024);
    @media (max-width: ($lg)) {
      row-gap: 60px;
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: ($sm)) {
      row-gap: 41px;
    }
  }
  &__content {
    width: 50%;
    flex-shrink: 0;
    @media (max-width: ($lg)) {
      width: 100%;
    }
  }
  &__image {
    @media (max-width: ($sm)) {
      width: 100%;
    }
  }
}
.group-deals {
  &:not(:last-child) {
    margin-bottom: 45px;
  }
  &__header {
    margin-bottom: 16px;
    display: flex;
    column-gap: 30px;
    @media (max-width: ($sm)) {
      margin-bottom: 11px;
    }
  }
  &__title {
    color: #020b2c;
    @include av("font-size", 35, 25);
    font-weight: 700;
    span {
      color: $color-primary;
    }
  }
  &__text {
    color: #555;
    @include av("font-size", 25, 20);
    font-weight: 300;
    line-height: 1.4; /* 140% */
  }
}

//AMP video
.amp {
  background-color: $color-bg;
  @include av("padding-top", 112, 23);
  @include av("padding-bottom", 111, 50);
  &__dec {
    position: absolute;
    width: 108.059px;
    height: 132.299px;
    z-index: 10;
    left: -55px;
    bottom: -35px;
    @media (max-width: ($md)) {
      width: 49.586px;
      height: 60.709px;
      left: -18px;
      bottom: -11px;
    }
  }
  &__container {
    display: flex;
    column-gap: 33px;
    align-items: center;
    @media (max-width: ($lg)) {
      flex-direction: column;
      row-gap: 60px;
    }
    @media (max-width: ($md)) {
      row-gap: 27px;
    }
  }
  &__player {
    position: relative;
    width: 49%;
    @media (max-width: ($lg)) {
      width: 100%;
    }
  }
  &__content {
    width: 51%;
    @media (max-width: ($lg)) {
      width: 100%;
    }
  }
  &__title {
    color: #fff;
    @include av("font-size", 55, 35);
    font-weight: 700;
    margin-bottom: 17px;
    span {
      color: $color-primary;
    }
  }
  &__text {
    color: #c1c1c1;
    @include av("font-size", 20, 16);

    line-height: 1.5; /* 150% */
    span {
      font-weight: 700;
    }
  }
}

// Features
.features {
  @include av("padding-top", 140, 37);
  @include av("padding-bottom", 135, 117);
  background-color: $color-light-bg;
  position: relative;
  &__l-dec {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 46%;
    height: 46%;
    z-index: 1;
    @media (max-width: ($lg)) {
      width: 40%;
      height: 40%;
    }
  }
  &__container {
    position: relative;
    z-index: 2;
  }
  &__inner {
    width: 100%;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 21px;
    row-gap: 18px;
    grid-auto-rows: 178px;
    @media (max-width: ($lg)) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: ($md)) {
      display: flex;
      width: 100%;
      column-gap: 0;
    }
  }
  &__title {
    color: #020b2c;
    @include av("font-size", 45, 30);
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    span {
      color: $color-primary;
    }
    @media (max-width: ($md)) {
      margin-bottom: 27px;
    }
  }
  &__mouse {
    position: absolute;
    right: -11%;
    bottom: -19%;
    width: 187px;
    height: 235.94px;
    @media (max-width: 1200px) {
      right: 0;
      bottom: -12%;
      width: 94.316px;
      height: 119px;
    }
    @media (max-width: ($md)) {
      right: 2%;
      bottom: -42%;
    }
    @media (max-width: ($sm)) {
      bottom: -52%;
    }
  }
}
.features-item {
  &_title {
    grid-column: 1 / span 3;
    display: flex;
    align-items: center;
    @media (max-width: ($md)) {
    }
    @media (max-width: ($md)) {
      display: block;
    }
  }
  &_box {
    border-radius: 10px;
    background: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
    padding: 23px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $color-primary;
      .red-box {
        display: none;
      }
      .white-box {
        display: block;
      }
    }
    .white-box {
      display: none;
    }
    h3 {
      color: #fff;
      text-align: center;
      @include av("font-size", 20, 14);
      font-weight: 700;
    }
    @media (max-width: ($md)) {
      flex-shrink: 0;
      height: 180px;
      row-gap: 15px;
    }
    @media (max-width: ($sm)) {
      height: 124px;
    }
  }
}

// Manage
.manage {
  @include av("padding-top", 103, 49);
  @include av("padding-bottom", 128, 10);
  position: relative;
  &__container {
    @media (max-width: ($lg)) {
      display: flex;
      flex-direction: column;
    }
  }
  &__content {
    max-width: 50%;
    position: relative;
    z-index: 2;
    @media (max-width: ($lg)) {
      max-width: 100%;
    }
  }
  &__title {
    color: #343434;
    @include av("font-size", 45, 30);
    font-weight: 700;
    margin-bottom: 21px;
    span {
      color: $color-primary;
    }
    @media (max-width: ($sm)) {
      margin-bottom: 25px;
    }
  }
  &__list {
    @include av("margin-bottom", 34, 16);
    padding-left: 37px;
    @media (max-width: ($sm)) {
      padding-left: 20px;
    }
  }
  &__item {
    color: #6c6c6c;
    @include av("font-size", 25, 18);
    font-weight: 300;
    line-height: 1.4; /* 140% */
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-color: #6c6c6c;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      left: -20px;
      top: 15px;
    }
  }
  &__links {
    display: flex;
    column-gap: 12px;
    @media (max-width: ($sm)) {
      justify-content: center;
    }
  }
  &__link {
    width: 208px;
    height: 60px;
    @media (max-width: ($sm)) {
      width: 134px;
      height: 38px;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__image {
    @media (min-width: ($lg)) {
      @include av("width", 985, 400);
      position: absolute;
      top: 50%;
      right: 90px;
      @include av("right", 170, 0, 1920, 1024);
      transform: translateY(-50%);
    }
    @media (max-width: ($sm)) {
      width: 150%;
      position: relative;
      right: 80px;
      margin: 0 auto;
    }
  }
}

// Trials
.trial {
  @include av("padding-bottom", 96, 49);
  position: relative;
  &__l-dec {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    position: absolute;
    left: 0;
    bottom: -10%;
    width: 46%;
    height: 46%;
    z-index: 1;
    @media (max-width: ($lg)) {
      display: none;
    }
  }
  &__small-dec {
    position: absolute;
    left: -66px;
    top: -77px;
    z-index: 2;
    width: 120.393px;
    height: 121.721px;
    @media (max-width: ($sm)) {
      width: 78.06px;
      height: 73.068px;
      left: -37px;
      top: -38px;
    }
  }
  &__container {
    position: relative;
    z-index: 2;
  }
  &__header {
    text-align: center;
    @include av("margin-bottom", 50, 25);
  }
  &__subtitle {
    color: #555;
    font-size: 30px;
    @include av("font-size", 30, 25);
    font-weight: 300;
    line-height: 1.16; /* 116.667% */
  }
  &__title {
    color: #343434;
    @include av("font-size", 55, 35);
    font-weight: 700;
    span {
      color: $color-primary;
    }
    @media (max-width: ($sm)) {
      line-height: 1.14;
    }
  }
  &__body {
    position: relative;
  }
  &__input {
    border-radius: 5.336px;
    border: 1.334px solid #afafaf;
    width: 100%;
    height: 57px;
    padding: 0 29px;
    &::placeholder {
      color: #919191;
      @include av("font-size", 20, 16);
    }
    margin-bottom: 11px;
    @media (max-width: ($sm)) {
      height: 37px;
      padding: 0 13px;
    }
  }
  &__one-third {
    display: flex;
    column-gap: 11px;
    input:nth-child(1) {
      width: 70%;
    }
    input:nth-child(2) {
      width: 30%;
    }
    @media (max-width: ($sm)) {
      flex-wrap: wrap;
      input:nth-child(1) {
        width: 100%;
      }
      input:nth-child(2) {
        width: 100%;
      }
    }
  }
  &__button {
    max-width: 273px;
    width: 100%;
    margin: 0 auto 20px auto;
    @media (max-width: ($sm)) {
      margin: 0 auto 9px auto;
    }
  }
  &__privacy {
    color: #919191;
    text-align: center;
    @include av("font-size", 20, 16);
    display: block;
    margin: 0 auto;
    transition: color 0.3s ease;
    &:hover {
      color: $color-primary;
    }
  }
}

.trial-tabs {
  border-radius: 5px;
  border: 1px solid #c6c6c6;
  background: #fff;
  &__header {
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    border-bottom: 9px solid $color-primary;
    @media (max-width: ($sm)) {
      padding: 12px 10px 13px 10px;
    }
  }
  &__form-text {
    color: #2b2b2b;
    @include av("font-size", 20, 16);
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 9px;
    line-height: 1.2;
    @media (max-width: ($sm)) {
      margin-bottom: 11px;
    }
  }
  &__button {
    width: 50%;
    cursor: pointer;
    position: relative;
    text-align: center;
    color: #242424;
    span {
      font-size: inherit;
      @include av("font-size", 23, 20);
      font-weight: 700;
      margin-bottom: 5px;
      display: block;
    }
    h3 {
      font-size: inherit;
      font-weight: 300;
      @include av("font-size", 23, 16);
    }
    svg {
      position: absolute;
      bottom: -27px;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 14px;
      display: none;
      @media (max-width: ($sm)) {
        bottom: -18px;
      }
    }
    &.active-tab-button svg {
      display: block;
    }
  }
  &__body {
    padding: 25px 26px 26px 29px;
    @media (max-width: ($sm)) {
      padding: 10px 12px 37px 12px;
    }
  }
  &__content {
    display: none;
    &.active-tab-content {
      display: block;
    }
  }
  &__form {
    @include av("margin-bottom", 39, 8);
  }
}

// faq
.faq {
  background-color: $color-light-bg;
  @include av("padding-top", 82, 42);
  @include av("padding-bottom", 91, 55);
  &__title {
    color: #343434;
    text-align: center;
    @include av("font-size", 45, 35);
    font-weight: 700;
    margin-bottom: 35px;
    @media (max-width: ($sm)) {
      margin-bottom: 22px;
    }
    span {
      color: $color-primary;
    }
  }
  &__body {
  }
}
.faq-item {
  padding: 20px 35px 0 35px;
  background-color: #fff;
  &:not(:last-child) {
    margin-bottom: 9px;
  }
  @media (max-width: ($sm)) {
    padding: 12px 12px 0 18px;
  }
  &__question {
    color: #555;
    @include av("font-size", 25, 15);
    line-height: 1.12;
    padding-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease;
    .q-is-close {
      display: block;
    }
    .q-is-open {
      display: none;
    }
    &.active-spoiler {
      border-bottom: 3px solid #efefef;
      .q-is-close {
        display: none;
      }
      .q-is-open {
        display: block;
      }
    }
    @media (max-width: ($sm)) {
      padding-bottom: 9px;
    }
  }
  &__answer {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;

    p {
      color: #6c6c6c;
      @include av("font-size", 25, 15);
      font-weight: 300;
      line-height: 1.4;
      position: relative;
      padding: 21px 0 31px 45px;
      &::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #6c6c6c;
        border-radius: 50%;
        top: 37px;
        left: 20px;
      }
      @media (max-width: ($sm)) {
        line-height: 1.2;
        padding: 16px 0 16px 25px;
        &::before {
          left: 10px;
          top: 23px;
        }
      }
    }
  }
}

// Pricing
.pricing {
  @include av("padding-top", 82, 40);
  @include av("padding-bottom", 114, 66);
  &__container {
  }
  &__header {
  }
  &__image {
    width: 182px;
    height: 138.528px;
    margin: 0 auto 12px auto;
    display: block;
    @media (max-width: ($md)) {
      width: 136.017px;
      height: 103.528px;
      margin: 0 auto 20px auto;
    }
  }
  &__title {
    color: #343434;
    text-align: center;
    @include av("font-size", 55, 35);
    font-weight: 700;
    margin-bottom: 27px;
    @media (max-width: ($sm)) {
      margin-bottom: 20px;
    }
    span {
      color: $color-primary;
    }
  }
  &__body {
  }
  &__buttons {
    position: relative;
    width: 100%;
    max-width: 492px;
    margin: 0 auto 98px auto;
    display: flex;
    border-radius: 21.5px;
    background-color: #e8e8e8;
    height: 43px;
    padding: 9px 0;
    @media (max-width: ($sm)) {
      height: 30px;
      margin: 0 auto 74px auto;
    }
  }

  &__button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
    width: 50%;
    height: 100%;
    border-radius: 21.5px;
    color: #242424;
    text-align: center;
    @include av("font-size", 20, 14);
    font-weight: 700;
    text-transform: uppercase;
    &.active-button {
      color: #fff;
    }
  }
  &__active-button {
    width: 50%;
    height: 100%;
    border-radius: 21.5px;
    z-index: 2;
    position: absolute;
    background-color: #000;
    left: 0;
    top: 0;
    transition: transform 0.3s ease;
  }
  &__inner {
    position: relative;
  }
  &__content {
    width: 100%;
    @media (max-width: ($lg)) {
    }
  }
  &__columns {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
}
.column-pricing {
  flex-shrink: 0;
  width: 33.3333%;
  border-radius: 12px;
  background-color: #fff;
  position: relative;
  padding: 41px 30px;
  @media (max-width: ($lg)) {
    width: auto;
    padding: 18px;
  }
  &_left {
    min-height: 744px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
    @media (max-width: ($lg)) {
      min-height: auto;
    }
  }
  &_middle {
    min-height: 807px;
    z-index: 2;
    box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.05);
    @media (max-width: ($md)) {
      min-height: auto;
    }
    padding-top: 27px;
  }
  &_right {
    min-height: 744px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.05);
    @media (max-width: ($lg)) {
      min-height: auto;
    }
  }

  &__header {
    padding-bottom: 39px;
    border-bottom: 5px solid #f0f0f0;
  }
  &__label {
    position: absolute;
    padding: 8px 12px 6px;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
    background-color: $color-primary;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  &__title {
    text-align: center;
    font-weight: 700;
    line-height: 1.16;
    margin-bottom: 5px;
    @include av("font-size", 30, 25);
    span {
      @include av("font-size", 40, 30);
      color: $color-primary;
    }
  }
  &__price {
    text-align: center;
    margin-bottom: 25px;
    &_hidden {
      display: none;
    }
  }
  &__value {
    color: #555;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
  }
  &__period {
    color: #555;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  }
  &__link {
    width: 219px;
    margin: 0 auto;
  }
  &__features {
    padding: 20px 0 0 0;
  }
  &__features-title {
    color: #242424;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 11px;
  }
  &__list {
  }
  &__list-item {
    color: #555;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    padding-left: 20px;
    &::before {
      content: "";
      position: absolute;
      background-color: #555;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      top: 11px;
      left: 6px;
    }
    @media (max-width: ($sm)) {
      font-size: 16px;
    }
    &_bold {
      font-weight: 700;
    }
  }
}

.navigation-btn {
  position: absolute;
  top: 77px;
  z-index: 10;
  display: none;
  @media (max-width: ($lg)) {
    display: block;
  }
  &_prev {
    left: -22px;
    transform: rotate(180deg);
  }
  &_next {
    right: -22px;
  }
  &.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }
}

// Modal
.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease;
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000057;
  }
  &__content {
    position: relative;
    background-color: #fff;
    width: 100%;
    max-width: 627px;
    background-color: $color-primary;
    border-radius: 16px;
    padding: 24px 15px 15px;
  }
  &__header {
    padding-bottom: 32px;
  }
  &__buttons {
    display: flex;
    column-gap: 20px;
  }
  &__button {
    cursor: pointer;
    position: relative;
    width: 50%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    @media (max-width: ($sm)) {
      font-size: 18px;
    }
    &.active-tab-button {
      .modal__button-label {
        display: block;
      }
    }
  }
  &__button-title {
    margin-bottom: 8px;
    font-weight: 700;
  }
  &__button-text {
    font-weight: 300;
  }
  &__button-label {
    width: 28.015px;
    height: 28.015px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
  }
  &__title {
    color: #fff;
    text-align: center;
    @include av("font-size", 33, 27);
    font-weight: 700;
    line-height: 1.4; /* 140% */
    margin-bottom: 25px;
  }
  &__main {
  }
  &__footer {
  }
  &__close {
    position: absolute;
    right: 6.7px;
    top: 6.7px;
    img {
      width: 26px;
      height: 26px;
      @media (max-width: ($sm)) {
        width: 23px;
        height: 23px;
      }
    }
  }
  &__tab-content {
    display: none;
    background-color: #fff;
    padding: 21px 13px 29px;
    border-radius: 10px;
    &.active-tab-content {
      display: block;
    }
  }
}

.modal-form {
  &__input {
    width: 100%;
    border-radius: 5.336px;
    border: 1.334px solid #afafaf;
    height: 57px;
    padding: 0 14.5px;
    @include av("font-size", 18, 16);
    &::placeholder {
      @include av("font-size", 18, 16);
      color: #919191;
    }
    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }
  &__button {
    border-radius: 40px;
    background-color: #000;
    @include av("height", 73, 45);
    color: #fff;
    text-align: center;
    @include av("font-size", 20, 18);
    width: 100%;
    max-width: 364px;
    margin: 13px auto 0 auto;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.modal {
  &__one-half {
    display: flex;
    column-gap: 11px;
    input {
      width: 100%;
    }
    @media (max-width: ($sm)) {
      flex-wrap: wrap;
    }
  }
}
